*.snm
*.vrb
*.nav
*.gz
*.orig
*.aux
*.xwm
*.db
*.script
*.backup
*.tex~
*.bib~
*.dvi
*.bbl
*.log
*.out
*.in
*.pdf
*.ps
*.blg
*.toc
*~
*.lof
*.lot
*.kate-swp
*.~*
*.tps
target
bin
.apt_generated
.apt_generated_tests
.classpath
.project
.settings
*.class
*.swp
*.csv.done
*.txt.done

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.prefs

# H2 test db
*.db.old

rebel.xml
*.000
*.001
*.gz(busy)

# any attachments that may get uploaded as part of interactive testing need to be ignored
airport/aiport-web-server/src/test/resources/attachments/*

.DS_Store
*.pgd
