<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <activeProfiles>
        <activeProfile>github</activeProfile>
    </activeProfiles>
    <profiles>
        <profile>
	    <id>github</id>
            <repositories>
                <repository>
                    <id>github-tg</id>
                    <name>TG Repository on GitHub</name>
                    <url>https://maven.pkg.github.com/fieldenms/tg</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </repository>
                <repository>
                    <id>restlet</id>
                    <name>Restlet Repository</name>
                    <url>https://maven.restlet.talend.com</url>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <servers>
        <server>
	        <id>github-tg</id>
            <username>your GitHub user</username>
            <password>your GitHub personnal access token with package read permissions</password>
        </server>
    </servers>
</settings>